body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: oblique;
  overflow-x: hidden;
  color: #2d2d2e !important;
  margin-top: -3vh;
}

#top-title-subtitle {
  background-color: black;
}

.title {
  font-weight: 500;
  color: white;
}

.title a:hover {
  text-decoration: none;
  color: gray;
}

.sub-title {
  font-size: 1.2rem;
}

#down-arrow {
  font-size: 2rem;
  text-decoration: none;
  color: gray;
}

.down {
  margin-top: 30vh;
}

.parrallax-img {
  background-color: black;
  background-position: relative;
  background-position: 50% 68%;
  background-size: 35%;
  background-repeat: no-repeat;
  min-height: 100%;
  height: 90vh;
  background-image: url(../img/transparent-sun.png);
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.about-box {
  border-radius: 5px;
  border: 1px solid rgb(110, 110, 110);
}

.about {
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-size: large;
}

.book {
  display: flex;
  justify-content: center;
}

.amazon-btn {
  color: black;
}

.btn,
.copyright,
.new-poem {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.card-columns {
  column-count: 5;
}

h5 {
  font-weight: 600;
}

input {
  width: 76% !important;
  min-width: 76% !important;
  margin-top: 0.3rem;
}

.maria_flores {
  font-size: small !important;
}

.footer-icons {
  color: white;
}

#arrow {
  font-size: 2rem;
  text-decoration: none;
  color: gray;
}

.pagination,
.pagination-title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-size: large;
}

.pagination a {
  font-size: 1.5rem;
  color: black;
  padding: 0.2rem 0.8rem;
  text-decoration: none;
  border-radius: 5px;
}

.pagination a.active {
  border: 2px solid purple;
}

.pagination a:hover:not(.active) {
  background-color: yellow;
}

@media (max-width: 1050px) and (min-width: 701px) {

  #top-title-subtitle {
    background-color: white;
  }

  .title {
    color: black !important;
    font-size: 1.9rem;
    margin-top: 2.5rem !important;
  }

  .sub-title {
    color: black !important;
    margin-top: 3.3rem !important;
    font-size: 1.3rem;
  }

  #down-arrow {
    display: none;
  }

  .parrallax-img {
    display: none !important;
  }

  .about-box {
    padding-left: 1.0rem !important;
    margin-left: 4vw;
  }

  .book {
    margin: 0 0 0 0.7rem;
  }

  h4 {
    font-size: 1.0rem;
  }

}

@media (max-width:700px) {

  body {
    overflow-x: hidden !important;
  }

  #top-title-subtitle {
    background-color: white;
  }

  .title {
    color: black !important;
    font-size: 1.5rem;
    margin: 2.8rem 0px 0px 1rem !important;
  }

  .sub-title {
    color: black !important;
    margin: 0.5rem 0px 0px 1rem !important;
    font-size: 0.8rem;
  }

  #down-arrow {
    display: none;
  }

  .parrallax-img {
    display: none !important;
  }

  .about-box {
    margin-top: -1rem !important;
    margin-left: 10vw !important;
    margin-right: 10vw !important;
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
  }

  .book {
    margin: 9vw 0 0 0;
  }

  .amazon-btn {
    font-size: 1rem;

  }

  .about {
    font-size: 0.9rem !important;
  }

  .card-columns {
    column-count: 1;
  }

  p {
    font-size: 0.6rem;
  }

  .maria_flores {
    font-size: 0.5rem !important;
  }

  .pagination-title {
    font-size: 0.8rem;
  }

  #arrow {
    margin: 2rem 1rem 0 0 !important;
  }

  .footer-icons {
    size: 20% !important;
  }

}